{
  "openapi": "3.1.0",
  "info": {
    "title": "Fastino Training and Inference API",
    "version": "2.0.0",
    "description": "Public Fastino training and inference operations documented at https://docs.fastino.ai."
  },
  "servers": [
    {
      "url": "https://api.fastino.ai",
      "description": "Production"
    }
  ],
  "paths": {
    "/v1/chat/completions": {
      "post": {
        "description": "OpenAI-compatible chat completions endpoint.\n\nThin shell over :func:`services.inference.adapters.openai_chat.run_chat_completion`.\nThe adapter handles LLM-passthrough vs Fastino-task dispatch, SSE\nrendering with ``<think>...</think>`` folding for reasoning models,\ntool-call deltas, finish-reason mapping, persistence, and error\nmapping. The router keeps only HTTP-shaped concerns: route\ndeclaration, auth, rate limiting.\n\nArgs:\n    body: Validated :class:`ChatCompletionRequest`.\n    request: FastAPI request (forwarded so the adapter can read\n        API-key billing context out of ``request.state`` for\n        streaming responses).\n    auth: Authenticated request context.\n\nReturns:\n    :class:`ChatCompletionResponse` for non-streaming, or a\n    :class:`StreamingResponse` of ``chat.completion.chunk`` SSE\n    events terminated by ``data: [DONE]`` when ``body.stream``\n    is true.",
        "operationId": "chat_completions_v1_chat_completions_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatCompletionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatCompletionResponse"
                }
              },
              "text/event-stream": {
                "example": "data: {\"id\":\"chatcmpl-abc\",\"object\":\"chat.completion.chunk\",\"created\":0,\"model\":\"deepseek-ai/DeepSeek-V4-Flash\",\"choices\":[{\"index\":0,\"delta\":{\"content\":\"Hi\"},\"finish_reason\":null}]}\n\ndata: {\"id\":\"chatcmpl-abc\",\"object\":\"chat.completion.chunk\",\"created\":0,\"model\":\"deepseek-ai/DeepSeek-V4-Flash\",\"choices\":[{\"index\":0,\"delta\":{},\"finish_reason\":\"stop\"}],\"usage\":{\"prompt_tokens\":1,\"completion_tokens\":1,\"total_tokens\":2}}\n\ndata: [DONE]\n\n",
                "schema": {
                  "description": "OpenAI-compatible chat completion streaming chunk.\n\n    One of these is JSON-serialized into each ``data: {...}\n\n`` SSE event\n    emitted by the chat completions handler when ``stream=true``. The stream\n    is terminated by a literal ``data: [DONE]\n\n`` sentinel that does not\n    follow this schema.\n\n    ``x_pioneer`` mirrors the field on :class:`ChatCompletionResponse` and is\n    populated only on the terminal chunk (the one carrying ``finish_reason``)\n    when persistence ran. Intermediate chunks set it to ``None`` so SDK\n    clients can wait for the terminal frame before reading the id rather\n    than racing the early text deltas.\n    ",
                  "properties": {
                    "choices": {
                      "items": {
                        "description": "One choice slot inside a streaming chunk.",
                        "properties": {
                          "delta": {
                            "description": "Incremental delta payload inside a streaming chunk's choice.\n\nThe OpenAI Chat Completions chunk schema (``ChoiceDelta`` in the\nopenai-python SDK) defines ``content``, ``function_call``,\n``refusal``, ``role``, and ``tool_calls`` \u2014 there is no spec slot\nfor reasoning. Fastino can expose the de facto industry extension\n(vLLM, DeepSeek, LiteLLM) on\n``reasoning_content`` for callers that opt in with existing\n``reasoning`` visibility controls (``exclude=false`` or\n``display=summarized``), mirroring Fastino's\nown input path at\n:func:`services.inference.providers.openai_compat.OpenAICompatProvider._chat_delta_to_events`\n(which already reads ``delta.reasoning_content`` from those same\nupstream providers). Stock OpenAI-compatible consumers receive no\nreasoning field by default so model scratchpad text is not rendered\nas assistant output. The renderer contract lives on\n:class:`~services.inference.adapters.openai_chat._ChatStreamRenderer`.",
                            "properties": {
                              "content": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ],
                                "title": "Content"
                              },
                              "reasoning_content": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ],
                                "title": "Reasoning Content"
                              },
                              "tool_calls": {
                                "anyOf": [
                                  {
                                    "items": {
                                      "additionalProperties": true,
                                      "type": "object"
                                    },
                                    "type": "array"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ],
                                "title": "Tool Calls"
                              }
                            },
                            "title": "ChatCompletionStreamDelta",
                            "type": "object"
                          },
                          "finish_reason": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ],
                            "title": "Finish Reason"
                          },
                          "index": {
                            "default": 0,
                            "title": "Index",
                            "type": "integer"
                          }
                        },
                        "title": "ChatCompletionStreamChoice",
                        "type": "object"
                      },
                      "title": "Choices",
                      "type": "array"
                    },
                    "created": {
                      "title": "Created",
                      "type": "integer"
                    },
                    "id": {
                      "title": "Id",
                      "type": "string"
                    },
                    "model": {
                      "title": "Model",
                      "type": "string"
                    },
                    "object": {
                      "default": "chat.completion.chunk",
                      "title": "Object",
                      "type": "string"
                    },
                    "usage": {
                      "anyOf": [
                        {
                          "description": "Token usage statistics.\n\n``prompt_tokens`` follows the upstream wire contract \u2014 *includes* every\ninput class (non-cached, cache read, and cache write). The breakdown is\nexposed under ``prompt_tokens_details`` so consumers can attribute the\ncached-read and cache-write subsets. Cache-aware billing on the brain\nside reads the canonical ``InferenceUsage`` fields directly, not this\nwire payload.",
                          "properties": {
                            "completion_tokens": {
                              "default": 0,
                              "title": "Completion Tokens",
                              "type": "integer"
                            },
                            "prompt_tokens": {
                              "default": 0,
                              "title": "Prompt Tokens",
                              "type": "integer"
                            },
                            "prompt_tokens_details": {
                              "anyOf": [
                                {
                                  "description": "Per-input-class breakdown for OpenAI-shape usage payloads.\n\nMirrors OpenAI's ``prompt_tokens_details`` block and the industry\ncache-creation extension so clients reading\n``usage.prompt_tokens_details.cached_tokens`` /\n``cache_write_tokens`` keep working when Fastino relays a cache-aware\nupstream response. Both counts are subsets of ``prompt_tokens`` on the\nwire \u2014 that's the upstream contract Fastino relays faithfully.\n\nAttributes:\n    cached_tokens: Input tokens served from the upstream prompt cache\n        (cache read).\n    cache_write_tokens: Input tokens written into the upstream prompt\n        cache (cache creation). ``0`` for upstreams that bill writes\n        as plain input (OpenAI, vLLM).",
                                  "properties": {
                                    "cache_write_tokens": {
                                      "default": 0,
                                      "title": "Cache Write Tokens",
                                      "type": "integer"
                                    },
                                    "cached_tokens": {
                                      "default": 0,
                                      "title": "Cached Tokens",
                                      "type": "integer"
                                    }
                                  },
                                  "title": "PromptTokensDetails",
                                  "type": "object"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "total_tokens": {
                              "default": 0,
                              "title": "Total Tokens",
                              "type": "integer"
                            }
                          },
                          "title": "ChatCompletionUsage",
                          "type": "object"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "x_pioneer": {
                      "anyOf": [
                        {
                          "description": "Fastino-specific extension fields appended to OpenAI-compatible responses.\n\nOpenAI's API contract reserves the unprefixed top-level keys (``id``,\n``choices``, ``usage``, \u2026); custom data must live under a clearly\nnamespaced key. ``x_pioneer`` is that key.\n\nAttributes:\n    inference_id: The Fastino-side identifier of the persisted\n        ``inferences`` row associated with this completion. Present\n        when persistence is enabled (``extra_body.store == True``)\n        and the row was successfully recorded; ``None`` for ad-hoc\n        requests that opted out of persistence. The frontend uses\n        this to poll ``GET /inferences/{id}`` for asynchronous\n        judge results without coupling the inference response\n        latency to the judge.\n    routed_model: Backend catalog model selected by a router project\n        (for example ``pioneer/auto``). ``None`` when the request\n        was not routed or the routed model matches the requested id.\n    savings: Routed-vs-frontier per-1M-token savings rate diff (same\n        wire shape as the Anthropic ``pioneer_savings`` extension). The\n        Codex routing-savings hook multiplies these rates by per-turn\n        token usage to surface cumulative money saved. ``None`` when the\n        request was not routed below the frontier reference model.",
                          "properties": {
                            "inference_id": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ],
                              "title": "Inference Id"
                            },
                            "routed_model": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ],
                              "title": "Routed Model"
                            },
                            "savings": {
                              "anyOf": [
                                {
                                  "additionalProperties": true,
                                  "type": "object"
                                },
                                {
                                  "type": "null"
                                }
                              ],
                              "title": "Savings"
                            }
                          },
                          "title": "PioneerExtension",
                          "type": "object"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    }
                  },
                  "required": [
                    "model",
                    "choices"
                  ],
                  "title": "ChatCompletionStreamChunk",
                  "type": "object"
                }
              }
            },
            "description": "Chat completion. Returns ``application/json`` (``ChatCompletionResponse``) by default, or ``text/event-stream`` of ``ChatCompletionStreamChunk`` events terminated by ``data: [DONE]`` when ``stream=true``."
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        },
        "summary": "Chat Completions",
        "tags": [
          "openai-compat"
        ]
      }
    },
    "/v1/gliner-2": {
      "post": {
        "description": "Process text using GLiNER-2 base model via InferenceService.\n\n``task`` is optional \u2014 when omitted the unified schema path is used.\nLegacy task names are still accepted but deprecated.",
        "operationId": "gliner2_process_gliner_2_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GlinerRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GlinerResponse"
                }
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        },
        "summary": "Gliner2 Process",
        "tags": [
          "gliner"
        ]
      }
    },
    "/v1/gliner-2/async": {
      "post": {
        "description": "Submit large GLiNER-2 request for async processing.\n\nUse this endpoint when processing >1M tokens that would exceed\nthe 30-second timeout. Returns immediately with a job_id.\nPoll GET /gliner-2/jobs/{job_id} to retrieve results.\n\nArgs:\n    request: AsyncGlinerRequest with task, text, schema\n    http_request: FastAPI request object\n    auth: Authentication result\n\nReturns:\n    202 Accepted with job_id for polling",
        "operationId": "gliner2_async_gliner_2_async_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AsyncGlinerRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncGlinerResponse"
                }
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        },
        "summary": "Gliner2 Async",
        "tags": [
          "gliner"
        ]
      }
    },
    "/v1/gliner-2/jobs/{job_id}": {
      "get": {
        "description": "Get status and result of an async GLiNER-2 job.\n\nReturns:\n- 200 with status=\"complete\" and result when done\n- 200 with status=\"processing\" while in progress\n- 200 with status=\"error\" and error message if failed\n- 404 if job not found or belongs to different user\n\nArgs:\n    job_id: UUID of the job to check\n    auth: Authentication result\n\nReturns:\n    GlinerJobStatus with current status and result if complete",
        "operationId": "gliner2_job_status_gliner_2_jobs_job_id_get",
        "parameters": [
          {
            "in": "path",
            "name": "job_id",
            "required": true,
            "schema": {
              "title": "Job Id",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GlinerJobStatus"
                }
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        },
        "summary": "Gliner2 Job Status",
        "tags": [
          "gliner"
        ]
      }
    },
    "/v1/inferences": {
      "get": {
        "description": "List inference history for the authenticated user.\n\nReturns all inference records across all model types (NER, classification,\nJSON extraction, decoder) sorted by most recent first.\n\nArgs:\n    auth: Authentication result with user_id\n    limit: Maximum number of records to return (default 100, max 500)\n    offset: Number of records to skip for pagination\n    model_id: Optional filter by model ID\n    task: Optional filter by task type\n    project_id: Optional filter by project ID\n    training_job_id: Optional filter by training job ID\n    latency_min/latency_max: Inclusive latency window in ms.\n    llmaj_score_min/llmaj_score_max: Inclusive LLMAJ-score window\n        in [0.0, 1.0].\n    since: Optional inclusive lower bound on ``created_at`` (ISO 8601).\n    until: Optional exclusive upper bound on ``created_at`` (ISO 8601).\n\nReturns:\n    InferenceListResponse with paginated inference records.\n\nRaises:\n    HTTPException: 422 when ``min`` is greater than its paired\n        ``max`` \u2014 returning an empty page would silently mask the\n        caller's misordered query.",
        "operationId": "list_inference_history_inferences_get",
        "parameters": [
          {
            "description": "Maximum records to return",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "default": 100,
              "description": "Maximum records to return",
              "maximum": 500,
              "minimum": 1,
              "title": "Limit",
              "type": "integer"
            }
          },
          {
            "description": "Number of records to skip",
            "in": "query",
            "name": "offset",
            "required": false,
            "schema": {
              "default": 0,
              "description": "Number of records to skip",
              "minimum": 0,
              "title": "Offset",
              "type": "integer"
            }
          },
          {
            "description": "Filter by model ID",
            "in": "query",
            "name": "model_id",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by model ID",
              "title": "Model Id"
            }
          },
          {
            "description": "Filter by task type",
            "in": "query",
            "name": "task",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by task type",
              "title": "Task"
            }
          },
          {
            "description": "Filter by project ID",
            "in": "query",
            "name": "project_id",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by project ID",
              "title": "Project Id"
            }
          },
          {
            "description": "Filter by training job ID",
            "in": "query",
            "name": "training_job_id",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by training job ID",
              "title": "Training Job Id"
            }
          },
          {
            "description": "Minimum latency in ms (must be >= 0).",
            "in": "query",
            "name": "latency_min",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "minimum": 0,
                  "type": "number"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Minimum latency in ms (must be >= 0).",
              "title": "Latency Min"
            }
          },
          {
            "description": "Maximum latency in ms (must be >= 0).",
            "in": "query",
            "name": "latency_max",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "minimum": 0,
                  "type": "number"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Maximum latency in ms (must be >= 0).",
              "title": "Latency Max"
            }
          },
          {
            "description": "Minimum LLM-as-Judge score in [0.0, 1.0].",
            "in": "query",
            "name": "llmaj_score_min",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "maximum": 1.0,
                  "minimum": 0.0,
                  "type": "number"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Minimum LLM-as-Judge score in [0.0, 1.0].",
              "title": "Llmaj Score Min"
            }
          },
          {
            "description": "Maximum LLM-as-Judge score in [0.0, 1.0].",
            "in": "query",
            "name": "llmaj_score_max",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "maximum": 1.0,
                  "minimum": 0.0,
                  "type": "number"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Maximum LLM-as-Judge score in [0.0, 1.0].",
              "title": "Llmaj Score Max"
            }
          },
          {
            "description": "Inclusive lower bound on created_at (ISO 8601, UTC).",
            "in": "query",
            "name": "since",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Inclusive lower bound on created_at (ISO 8601, UTC).",
              "title": "Since"
            }
          },
          {
            "description": "Exclusive upper bound on created_at (ISO 8601, UTC).",
            "in": "query",
            "name": "until",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Exclusive upper bound on created_at (ISO 8601, UTC).",
              "title": "Until"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InferenceListResponse"
                }
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          },
          "503": {
            "description": "Inference history dependency is temporarily unavailable."
          }
        },
        "summary": "List Inference History",
        "tags": [
          "inference-history"
        ]
      }
    },
    "/v1/inferences/{inference_id}": {
      "get": {
        "description": "Get a single inference record by ID.\n\nArgs:\n    inference_id: The inference record UUID\n    auth: Authentication result with user_id\n\nReturns:\n    InferenceRecord with full details\n\nRaises:\n    HTTPException: 404 if inference not found or outside the caller's team",
        "operationId": "get_inference_detail_inferences_inference_id_get",
        "parameters": [
          {
            "in": "path",
            "name": "inference_id",
            "required": true,
            "schema": {
              "title": "Inference Id",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InferenceRecord"
                }
              }
            },
            "description": "Successful Response"
          },
          "404": {
            "description": "Inference not found."
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          },
          "503": {
            "description": "Inference history dependency is temporarily unavailable."
          }
        },
        "summary": "Get Inference Detail",
        "tags": [
          "inference-history"
        ]
      }
    },
    "/v1/inferences/{inference_id}/feedback": {
      "get": {
        "description": "Get human feedback for a specific inference.\n\nArgs:\n    inference_id: The inference record UUID to look up.\n    auth: Authentication result with user_id.\n\nReturns:\n    InferenceFeedbackResponse with the stored feedback.\n\nRaises:\n    HTTPException: 404 if inference not found or no feedback submitted.",
        "operationId": "get_inference_feedback_inferences_inference_id_feedback_get",
        "parameters": [
          {
            "in": "path",
            "name": "inference_id",
            "required": true,
            "schema": {
              "title": "Inference Id",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InferenceFeedbackResponse"
                }
              }
            },
            "description": "Successful Response"
          },
          "404": {
            "description": "Feedback not found."
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          },
          "503": {
            "description": "Inference history dependency is temporarily unavailable."
          }
        },
        "summary": "Get Inference Feedback",
        "tags": [
          "inference-history"
        ]
      },
      "post": {
        "description": "Submit human feedback on a specific inference.\n\nMarks an inference as correct or incorrect. When marking as incorrect,\nthe expected output must be provided for downstream training data curation.\n\nArgs:\n    inference_id: The inference record UUID to annotate.\n    request: Feedback payload with verdict, optional corrected output, and notes.\n    auth: Authentication result with user_id.\n\nReturns:\n    InferenceFeedbackResponse confirming the stored feedback.\n\nRaises:\n    HTTPException: 404 if inference not found or outside the caller's team.",
        "operationId": "submit_inference_feedback_inferences_inference_id_feedback_post",
        "parameters": [
          {
            "in": "path",
            "name": "inference_id",
            "required": true,
            "schema": {
              "title": "Inference Id",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InferenceFeedbackRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InferenceFeedbackResponse"
                }
              }
            },
            "description": "Successful Response"
          },
          "404": {
            "description": "Inference not found."
          },
          "422": {
            "description": "Invalid feedback payload."
          },
          "503": {
            "description": "Inference history dependency is temporarily unavailable."
          }
        },
        "summary": "Submit Inference Feedback",
        "tags": [
          "inference-history"
        ]
      }
    },
    "/v1/messages": {
      "post": {
        "description": "Anthropic-compatible messages endpoint.\n\nThin shell over :func:`services.inference.adapters.anthropic_messages.run_messages`.\nThe adapter handles content-block translation, LLM-passthrough vs\nFastino-task dispatch, SSE rendering, persistence, and error\nmapping. The router keeps only HTTP-shaped concerns: route\ndeclaration, auth, rate limiting.\n\nArgs:\n    body: Validated :class:`AnthropicMessagesRequest`.\n    request: FastAPI request (forwarded so the adapter can read\n        API-key billing context out of ``request.state`` for\n        streaming responses).\n    auth: Authenticated request context.\n\nReturns:\n    :class:`AnthropicMessagesResponse` for non-streaming, or a\n    :class:`StreamingResponse` of Anthropic SSE events when\n    ``body.stream`` is true.",
        "operationId": "messages_v1_messages_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AnthropicMessagesRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnthropicMessagesResponse"
                }
              }
            },
            "description": "Non-streaming Anthropic Messages response. When the request sets ``stream=true`` the server emits an Anthropic-shaped SSE event stream over ``text/event-stream`` instead; that stream shape is documented in the Anthropic Messages API reference."
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "description": "OpenAI envelope unless the request sends `anthropic-version`, in which case the Anthropic `{type: error, error: {type, message}}` body is returned.",
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/HTTPValidationError"
                    },
                    {
                      "$ref": "#/components/schemas/AnthropicError"
                    }
                  ]
                }
              }
            },
            "description": "Validation Error"
          }
        },
        "summary": "Messages",
        "tags": [
          "anthropic-compat"
        ]
      }
    },
    "/v1/models": {
      "get": {
        "description": "List available Anthropic-compatible models.\n\nAuthentication is optional. Anonymous callers receive the public runtime\ncatalog; authenticated callers also receive their user-scoped decoder\nfine-tunes.\n\nArgs:\n    limit: Maximum number of models to return. Omit to return the full\n        assembled catalog.\n    before_id: Cursor for paginating backward.\n    after_id: Cursor for paginating forward.\n    client_version: Optional Codex/OpenAI client version hint.\n    auth: Optional authentication result.\n\nReturns:\n    Combined Anthropic-compatible and Codex/OpenAI-compatible model catalog.\n\nRaises:\n    HTTPException: If both cursor parameters are provided.",
        "operationId": "list_models_v1_models_get",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "maximum": 1000,
                  "minimum": 1,
                  "type": "integer"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Limit"
            }
          },
          {
            "in": "query",
            "name": "before_id",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Before Id"
            }
          },
          {
            "in": "query",
            "name": "after_id",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "After Id"
            }
          },
          {
            "in": "query",
            "name": "client_version",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Client Version"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        },
        "security": [],
        "summary": "List Models",
        "tags": [
          "anthropic-compat"
        ]
      }
    },
    "/v1/responses": {
      "post": {
        "description": "OpenAI-compatible Responses API endpoint.\n\nThin shell over :func:`services.inference.adapters.openai_responses.run_responses`.\nThe adapter handles input-item to chat-message translation,\nLLM-passthrough vs Fastino-task dispatch, SSE rendering,\ntool-call serialisation, persistence, and error mapping. The\nrouter keeps only HTTP-shaped concerns: route declaration, auth,\nrate limiting.\n\nArgs:\n    body: Validated :class:`ResponsesRequest`.\n    request: FastAPI request (forwarded so the adapter can read\n        API-key billing context out of ``request.state`` for\n        streaming responses).\n    response: Response whose headers carry the deprecation and\n        router-tip signals.\n    auth: Authenticated request context.\n\nReturns:\n    JSON response payload or :class:`StreamingResponse` SSE stream\n    in Responses API format.",
        "operationId": "responses_v1_responses_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResponsesRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        },
        "summary": "Responses",
        "tags": [
          "openai-compat"
        ]
      }
    },
    "/v1/training-jobs": {
      "post": {
        "description": "Create a new training job.\n\nThe provider is resolved from the registry based on\n``(base_model, training_type)``.\n\nArgs:\n    request: Incoming FastAPI request (required by SlowAPI key function).\n    training_request: Training configuration with dataset references and base_model.\n    auth: Authenticated user context.",
        "operationId": "create_training_job_training_jobs_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TrainingJobCreate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrainingJobResponse"
                }
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        },
        "summary": "Create Training Job",
        "tags": [
          "training-jobs"
        ]
      },
      "get": {
        "description": "List training jobs for the authenticated user.\n\nSupports pagination via ``limit`` and ``offset`` query parameters.\nOptionally filter by status (requested, running, complete, deployed, errored).",
        "operationId": "list_training_jobs_training_jobs_get",
        "parameters": [
          {
            "in": "query",
            "name": "status",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Status"
            }
          },
          {
            "in": "query",
            "name": "project_id",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Project Id"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "default": 200,
              "maximum": 200,
              "minimum": 1,
              "title": "Limit",
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "offset",
            "required": false,
            "schema": {
              "default": 0,
              "minimum": 0,
              "title": "Offset",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrainingJobListResponse"
                }
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        },
        "summary": "List Training Jobs",
        "tags": [
          "training-jobs"
        ]
      }
    },
    "/v1/training-jobs/{job_id}": {
      "delete": {
        "description": "Delete a training job and associated checkpoints.",
        "operationId": "delete_training_job_training_jobs_job_id_delete",
        "parameters": [
          {
            "in": "path",
            "name": "job_id",
            "required": true,
            "schema": {
              "title": "Job Id",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteTrainingJobResponse"
                }
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        },
        "summary": "Delete Training Job",
        "tags": [
          "training-jobs"
        ]
      },
      "get": {
        "description": "Get a training job by ID if it is visible to the caller's team.\n\nRead visibility matches the other ``training-jobs/{job_id}`` read routes\nthat already use ``_get_visible_job`` (logs, checkpoints, download): a\njob on a team-visible project, or a project-less shared job, is\nreturned even when the caller is not the creator. Mutating routes keep\ntheir own owner-scoped service calls.",
        "operationId": "get_training_job_training_jobs_job_id_get",
        "parameters": [
          {
            "in": "path",
            "name": "job_id",
            "required": true,
            "schema": {
              "title": "Job Id",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrainingJobResponse"
                }
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        },
        "summary": "Get Training Job",
        "tags": [
          "training-jobs"
        ]
      },
      "patch": {
        "description": "Patch a training job. Currently exposes only ``project_id``.\n\nDelegates to :func:`services.projects.movement.assign_resource_to_project`\nwhich owns the visibility check, target-project gating, and the\nservice-role ``UPDATE``. Send ``project_id: null`` to unassign the job\nfrom its project.\n\nMovement is **label-only**: only ``training_jobs.project_id`` changes.\nDependent rows that carry their own ``project_id`` (``deployments``,\n``inferences``, ``project_evaluation_runs``) are intentionally not cascaded.\nCallers needing aggregate-model movement must update dependents\nexplicitly.",
        "operationId": "update_training_job_training_jobs_job_id_patch",
        "parameters": [
          {
            "in": "path",
            "name": "job_id",
            "required": true,
            "schema": {
              "title": "Job Id",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TrainingJobUpdate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateResourceProjectResponse"
                }
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        },
        "summary": "Update Training Job",
        "tags": [
          "training-jobs"
        ]
      }
    },
    "/v1/training-jobs/{job_id}/billing": {
      "get": {
        "description": "Get the billing outcome for a specific training job, by job ID.\n\nCloses the API gap in ENG-6131: reports whether a job was billed and,\nif so, for how much and how long, so a billing-correctness fix like\nENG-6068 can be verified live without direct database access. Read\nvisibility matches ``get_training_job`` and the other\n``training-jobs/{job_id}`` read routes.",
        "operationId": "get_training_job_billing_training_jobs_job_id_billing_get",
        "parameters": [
          {
            "in": "path",
            "name": "job_id",
            "required": true,
            "schema": {
              "title": "Job Id",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrainingJobBillingResponse"
                }
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        },
        "summary": "Get Training Job Billing",
        "tags": [
          "training-jobs"
        ]
      }
    },
    "/v1/training-jobs/{job_id}/checkpoints": {
      "get": {
        "description": "List all checkpoints for a training job visible to the caller's team.",
        "operationId": "list_training_job_checkpoints_training_jobs_job_id_checkpoints_get",
        "parameters": [
          {
            "in": "path",
            "name": "job_id",
            "required": true,
            "schema": {
              "title": "Job Id",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckpointListResponse"
                }
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        },
        "summary": "List Training Job Checkpoints",
        "tags": [
          "training-jobs"
        ]
      }
    },
    "/v1/training-jobs/{job_id}/checkpoints/{checkpoint_id}/deploy": {
      "post": {
        "description": "Deploy a specific checkpoint to the Multi-Model Endpoint.",
        "operationId": "deploy_checkpoint_to_mme_training_jobs_job_id_checkpoints_checkpoint_id_deploy_post",
        "parameters": [
          {
            "in": "path",
            "name": "job_id",
            "required": true,
            "schema": {
              "title": "Job Id",
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "checkpoint_id",
            "required": true,
            "schema": {
              "title": "Checkpoint Id",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeployCheckpointResponse"
                }
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        },
        "summary": "Deploy Checkpoint To Mme",
        "tags": [
          "training-jobs"
        ]
      }
    },
    "/v1/training-jobs/{job_id}/deployments": {
      "get": {
        "description": "Deprecated. Returns deployments that reference the given training job.\n\nArgs:\n    job_id: Training job ID.\n    auth: Authenticated user.\n\nReturns:\n    DeploymentHistoryResponse with deprecation headers.",
        "operationId": "get_training_job_deployments_training_jobs_job_id_deployments_get",
        "parameters": [
          {
            "in": "path",
            "name": "job_id",
            "required": true,
            "schema": {
              "format": "uuid",
              "title": "Job Id",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeploymentHistoryResponse"
                }
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        },
        "summary": "[Deprecated] Get deployments for a training job -- use /projects/{project_id}/deployments",
        "tags": [
          "deprecated"
        ]
      }
    },
    "/v1/training-jobs/{job_id}/download": {
      "get": {
        "description": "Generate a presigned S3 URL to download a trained model.",
        "operationId": "download_trained_model_training_jobs_job_id_download_get",
        "parameters": [
          {
            "in": "path",
            "name": "job_id",
            "required": true,
            "schema": {
              "title": "Job Id",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModelDownloadResponse"
                }
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        },
        "summary": "Get download URL for trained model",
        "tags": [
          "training-jobs"
        ]
      }
    },
    "/v1/training-jobs/{job_id}/logs": {
      "get": {
        "description": "Get training output logs (stdout/stderr) for a specific job.",
        "operationId": "get_training_job_logs_training_jobs_job_id_logs_get",
        "parameters": [
          {
            "in": "path",
            "name": "job_id",
            "required": true,
            "schema": {
              "title": "Job Id",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrainingLogsResponse"
                }
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        },
        "summary": "Get Training Job Logs",
        "tags": [
          "training-jobs"
        ]
      }
    },
    "/v1/training-jobs/{job_id}/model-name": {
      "patch": {
        "description": "Update the model_name for a training job.\n\nThin wrapper: visibility scoping, validation, the UPDATE, and the\nactivity-event side effect all live in\n:meth:`TrainingJobService.update_model_name`. The router only owns\nHTTP concerns (status codes, request/response shaping) per\n``brain/CLAUDE.md``.",
        "operationId": "update_training_job_model_name_training_jobs_job_id_model_name_patch",
        "parameters": [
          {
            "in": "path",
            "name": "job_id",
            "required": true,
            "schema": {
              "title": "Job Id",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateModelNameRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateModelNameResponse"
                }
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        },
        "summary": "Update Training Job Model Name",
        "tags": [
          "training-jobs"
        ]
      }
    },
    "/v1/training-jobs/{job_id}/push-to-hub": {
      "post": {
        "description": "Push a completed training job's model to HuggingFace Hub.\n\nArgs:\n    job_id: Training job UUID.\n    request: Target repo, token, and commit metadata.\n    auth: Authenticated caller admitted by the training-jobs rollout.\n\nReturns:\n    The hub push outcome.\n\nRaises:\n    HTTPException: 400/403/404/409/500 for validation, permission,\n        lookup, conflict, and upload failures.",
        "operationId": "push_training_job_to_huggingface_training_jobs_job_id_push_to_hub_post",
        "parameters": [
          {
            "in": "path",
            "name": "job_id",
            "required": true,
            "schema": {
              "title": "Job Id",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HuggingFacePushModelRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PushModelToHubResponse"
                }
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        },
        "summary": "Push Training Job To Huggingface",
        "tags": [
          "training-jobs"
        ]
      }
    },
    "/v1/training-jobs/{job_id}/stop": {
      "post": {
        "description": "Stop a running training job.",
        "operationId": "stop_training_job_training_jobs_job_id_stop_post",
        "parameters": [
          {
            "in": "path",
            "name": "job_id",
            "required": true,
            "schema": {
              "title": "Job Id",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "anyOf": [
                  {
                    "$ref": "#/components/schemas/StopJobRequest"
                  },
                  {
                    "type": "null"
                  }
                ],
                "title": "Body"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StopJobResponse"
                }
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        },
        "summary": "Stop Training Job",
        "tags": [
          "training-jobs"
        ]
      }
    },
    "/v1/training-jobs/{job_id}/sync": {
      "post": {
        "description": "Sync training job status from the provider to the database.",
        "operationId": "sync_training_job_status_training_jobs_job_id_sync_post",
        "parameters": [
          {
            "in": "path",
            "name": "job_id",
            "required": true,
            "schema": {
              "title": "Job Id",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrainingJobResponse"
                }
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        },
        "summary": "Sync Training Job Status",
        "tags": [
          "training-jobs"
        ]
      }
    },
    "/v1/training-jobs/{job_id}/terminate": {
      "post": {
        "description": "Terminate a training job and delete all artifacts.\n\nStops the provider job if running, deletes all checkpoints, and marks\nthe job as terminated. This operation is irreversible.",
        "operationId": "terminate_training_job_training_jobs_job_id_terminate_post",
        "parameters": [
          {
            "in": "path",
            "name": "job_id",
            "required": true,
            "schema": {
              "title": "Job Id",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TerminateJobResponse"
                }
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        },
        "summary": "Terminate Training Job",
        "tags": [
          "training-jobs"
        ]
      }
    },
    "/v1/datasets/upload/url": {
      "post": {
        "description": "Creates a reserved dataset row and presigned upload URL.",
        "operationId": "get_upload_url_datasets_upload_url_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DatasetUploadUrlRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatasetUploadUrlResponse"
                }
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        },
        "summary": "Get Upload Url",
        "tags": [
          "datasets"
        ]
      }
    },
    "/v1/datasets/{name}": {
      "get": {
        "description": "Lists all visible versions of a dataset.",
        "operationId": "list_dataset_versions_datasets_name_get",
        "parameters": [
          {
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "title": "Name",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatasetVersionsResponse"
                }
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        },
        "summary": "List Dataset Versions",
        "tags": [
          "datasets"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "InferenceFeedbackResponse": {
        "description": "Response after submitting human feedback.\n\nArgs:\n    inference_id: The inference that was annotated.\n    human_verdict: The stored verdict.\n    human_feedback_at: Timestamp of the feedback submission.",
        "properties": {
          "human_feedback_at": {
            "description": "When the feedback was submitted",
            "format": "date-time",
            "title": "Human Feedback At",
            "type": "string"
          },
          "human_verdict": {
            "description": "Stored human verdict",
            "title": "Human Verdict",
            "type": "string"
          },
          "inference_id": {
            "description": "Inference ID that was annotated",
            "title": "Inference Id",
            "type": "string"
          }
        },
        "required": [
          "inference_id",
          "human_verdict",
          "human_feedback_at"
        ],
        "title": "InferenceFeedbackResponse",
        "type": "object"
      },
      "InferenceFeedbackRequest": {
        "description": "Request to submit human feedback on a specific inference.\n\nArgs:\n    verdict: Human judgment \u2014 correct or incorrect.\n    corrected_output: Expected output when verdict is incorrect.\n    notes: Optional free-text notes from the reviewer.",
        "properties": {
          "corrected_output": {
            "anyOf": [
              {},
              {
                "type": "null"
              }
            ],
            "description": "Expected output for incorrect verdicts (JSON structure matching task output)",
            "title": "Corrected Output"
          },
          "notes": {
            "anyOf": [
              {
                "maxLength": 5000,
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "Optional reviewer notes",
            "title": "Notes"
          },
          "verdict": {
            "description": "Human judgment: 'correct' or 'incorrect'",
            "enum": [
              "correct",
              "incorrect"
            ],
            "title": "Verdict",
            "type": "string"
          }
        },
        "required": [
          "verdict"
        ],
        "title": "InferenceFeedbackRequest",
        "type": "object"
      },
      "HTTPValidationError": {
        "description": "OpenAI error envelope returned for request validation failures. Replaces FastAPI's default HTTPValidationError `{detail: [...]}`.",
        "properties": {
          "error": {
            "properties": {
              "code": {
                "anyOf": [
                  {
                    "type": "string"
                  },
                  {
                    "type": "null"
                  }
                ],
                "title": "Code"
              },
              "errors": {
                "description": "Structured validation entries (location, type, line/column).",
                "items": {
                  "additionalProperties": true,
                  "type": "object"
                },
                "title": "Errors",
                "type": "array"
              },
              "message": {
                "title": "Message",
                "type": "string"
              },
              "param": {
                "anyOf": [
                  {
                    "type": "string"
                  },
                  {
                    "type": "null"
                  }
                ],
                "title": "Param"
              },
              "type": {
                "title": "Type",
                "type": "string"
              }
            },
            "required": [
              "message",
              "type",
              "param",
              "code"
            ],
            "title": "Error",
            "type": "object"
          }
        },
        "required": [
          "error"
        ],
        "title": "HTTPValidationError",
        "type": "object"
      },
      "InferenceRecord": {
        "description": "Stored inference record from the database.\n\nAttributes:\n    status: Inference outcome -- 'success' or 'failed'.\n    error_type: Failure category when status is 'failed'.\n    error_message: Error detail when status is 'failed'.",
        "properties": {
          "base_model": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "HuggingFace base model ID",
            "title": "Base Model"
          },
          "cache_read_tokens": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "description": "Input tokens served from the provider prompt cache (cache hit).",
            "title": "Cache Read Tokens"
          },
          "cache_write_tokens": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "description": "Input tokens written into the provider prompt cache (cache creation). Zero for providers that bill writes as plain input.",
            "title": "Cache Write Tokens"
          },
          "created_at": {
            "description": "When the inference was made",
            "format": "date-time",
            "title": "Created At",
            "type": "string"
          },
          "error_message": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "Error detail when status is failed",
            "title": "Error Message"
          },
          "error_type": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "Failure category when status is failed (validation, timeout, model_not_ready, model_not_found, model_not_supported, capacity_exhausted, internal)",
            "title": "Error Type"
          },
          "human_corrected_output": {
            "anyOf": [
              {},
              {
                "type": "null"
              }
            ],
            "description": "Expected output from human reviewer",
            "title": "Human Corrected Output"
          },
          "human_feedback_at": {
            "anyOf": [
              {
                "format": "date-time",
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "When human feedback was submitted",
            "title": "Human Feedback At"
          },
          "human_feedback_notes": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "Optional reviewer notes",
            "title": "Human Feedback Notes"
          },
          "human_verdict": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "Human reviewer verdict (correct/incorrect)",
            "title": "Human Verdict"
          },
          "id": {
            "description": "Unique inference ID",
            "title": "Id",
            "type": "string"
          },
          "input": {
            "description": "Input text",
            "title": "Input",
            "type": "string"
          },
          "input_tokens": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "description": "Non-cached input/prompt tokens, sourced from the metered requests row. None when no billing row was recorded.",
            "title": "Input Tokens"
          },
          "latency_ms": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "description": "End-to-end latency in milliseconds",
            "title": "Latency Ms"
          },
          "llmaj_judged_at": {
            "anyOf": [
              {
                "format": "date-time",
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "Timestamp when LLMAJ judgment was recorded; None until judged.",
            "title": "Llmaj Judged At"
          },
          "llmaj_reasoning": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "LLMAJ judge reasoning/explanation; None until judged.",
            "title": "Llmaj Reasoning"
          },
          "llmaj_score": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "description": "LLMAJ judge confidence score in [0.0, 1.0]; None until judged.",
            "title": "Llmaj Score"
          },
          "llmaj_verdict": {
            "anyOf": [
              {
                "enum": [
                  "pass",
                  "fail",
                  "uncertain"
                ],
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "LLMAJ judge verdict ('pass', 'fail', or 'uncertain'); None until judged.",
            "title": "Llmaj Verdict"
          },
          "metadata": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "description": "Extensible metadata (e.g. LLM judge results)",
            "title": "Metadata"
          },
          "model_id": {
            "description": "Model ID used for inference",
            "title": "Model Id",
            "type": "string"
          },
          "model_name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "Human-readable model name",
            "title": "Model Name"
          },
          "output": {
            "anyOf": [
              {},
              {
                "type": "null"
              }
            ],
            "description": "Inference output (JSON)",
            "title": "Output"
          },
          "output_tokens": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "description": "Output/completion tokens, sourced from the metered requests row.",
            "title": "Output Tokens"
          },
          "project_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "Project ID the model belongs to",
            "title": "Project Id"
          },
          "provider": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "Inference provider (aws, modal, etc.). Rows predating a provider removal carry an 'archived_<provider>' label.",
            "title": "Provider"
          },
          "source": {
            "default": "api",
            "description": "Source of the request (api or ui)",
            "title": "Source",
            "type": "string"
          },
          "status": {
            "default": "success",
            "description": "Inference status: success or failed",
            "title": "Status",
            "type": "string"
          },
          "task": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "Task type (legacy; may be NULL for new inferences)",
            "title": "Task"
          },
          "tokens": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "description": "Token count",
            "title": "Tokens"
          },
          "training_job_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "Training job UUID that produced the model",
            "title": "Training Job Id"
          },
          "ttft_ms": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "description": "Streaming time to first visible output chunk in milliseconds; null for non-streaming calls and streams with no visible payload.",
            "title": "Ttft Ms"
          },
          "user_id": {
            "description": "User who made the inference",
            "title": "User Id",
            "type": "string"
          }
        },
        "required": [
          "id",
          "user_id",
          "model_id",
          "input",
          "created_at"
        ],
        "title": "InferenceRecord",
        "type": "object"
      },
      "InferenceListResponse": {
        "description": "Response for listing inference history.",
        "properties": {
          "inferences": {
            "description": "List of inference records",
            "items": {
              "$ref": "#/components/schemas/InferenceRecord"
            },
            "title": "Inferences",
            "type": "array"
          },
          "limit": {
            "description": "Page size limit",
            "title": "Limit",
            "type": "integer"
          },
          "offset": {
            "description": "Current offset",
            "title": "Offset",
            "type": "integer"
          },
          "total": {
            "description": "Total count of inferences matching filters",
            "title": "Total",
            "type": "integer"
          }
        },
        "required": [
          "inferences",
          "total",
          "limit",
          "offset"
        ],
        "title": "InferenceListResponse",
        "type": "object"
      },
      "ResponsesRequest": {
        "additionalProperties": true,
        "description": "OpenAI-compatible Responses API request.\n\n``input`` accepts either a plain string (convenience shorthand used by the\nOpenAI SDK for simple text prompts) or a list of input items.",
        "properties": {
          "effort": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/RoutingEffort"
              },
              {
                "type": "null"
              }
            ],
            "description": "Per-request routing-effort tier (low/medium/high/xhigh/max) for router models like ``pioneer/auto``. Overrides the router's stored policy for this request only; ignored for non-router models."
          },
          "extra_body": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Extra Body"
          },
          "extra_headers": {
            "anyOf": [
              {
                "additionalProperties": {
                  "type": "string"
                },
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Extra Headers"
          },
          "include": {
            "items": {
              "type": "string"
            },
            "title": "Include",
            "type": "array"
          },
          "include_confidence": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "default": true,
            "title": "Include Confidence"
          },
          "include_spans": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "default": true,
            "title": "Include Spans"
          },
          "input": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "items": {
                  "additionalProperties": true,
                  "type": "object"
                },
                "type": "array"
              }
            ],
            "title": "Input"
          },
          "instructions": {
            "default": "",
            "title": "Instructions",
            "type": "string"
          },
          "max_output_tokens": {
            "anyOf": [
              {
                "minimum": 1.0,
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Max Output Tokens"
          },
          "metadata": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Metadata"
          },
          "model": {
            "title": "Model",
            "type": "string"
          },
          "models": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "description": "Per-request candidate-model subset the router may select between. Overrides the router's stored candidate set for this request only; ignored for non-router models.",
            "title": "Models"
          },
          "parallel_tool_calls": {
            "default": false,
            "title": "Parallel Tool Calls",
            "type": "boolean"
          },
          "previous_response_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "Fastino inference ID or stored Responses wire ID to continue from. When present, Fastino reconstructs the prior turn from inference history and prepends it to the new input.",
            "title": "Previous Response Id"
          },
          "prompt_cache_key": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Prompt Cache Key"
          },
          "reasoning": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/ResponsesReasoningRequest"
              },
              {
                "type": "null"
              }
            ]
          },
          "service_tier": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Service Tier"
          },
          "store": {
            "default": true,
            "description": "Whether to store response state for turn-to-turn continuation. When true, Fastino preserves the response for previous_response_id replay, including available tool-call and reasoning context.",
            "title": "Store",
            "type": "boolean"
          },
          "stream": {
            "default": false,
            "title": "Stream",
            "type": "boolean"
          },
          "task_type": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "**Deprecated.** Legacy task hint (``extract_entities`` / ``classify_text`` / ``extract_json`` / ``ner`` / ``schema``). The unified schema on ``text.format.schema`` disambiguates the task automatically. Submitting this field emits ``Deprecation: true`` and ``Sunset: <RFC 7231 date>`` headers on the response.",
            "title": "Task Type"
          },
          "temperature": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Temperature"
          },
          "text": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/ResponsesTextRequest"
              },
              {
                "type": "null"
              }
            ]
          },
          "tool_choice": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "additionalProperties": true,
                "type": "object"
              }
            ],
            "default": "auto",
            "title": "Tool Choice"
          },
          "tools": {
            "items": {
              "additionalProperties": true,
              "type": "object"
            },
            "title": "Tools",
            "type": "array"
          },
          "top_p": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Top P"
          }
        },
        "required": [
          "model"
        ],
        "title": "ResponsesRequest",
        "type": "object"
      },
      "ResponsesTextRequest": {
        "additionalProperties": true,
        "description": "Responses text controls.",
        "properties": {
          "format": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/ResponsesTextFormatRequest"
              },
              {
                "type": "null"
              }
            ]
          },
          "verbosity": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Verbosity"
          }
        },
        "title": "ResponsesTextRequest",
        "type": "object"
      },
      "ResponsesTextFormatRequest": {
        "additionalProperties": true,
        "description": "Structured-output controls for Responses text formatting.",
        "properties": {
          "name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Name"
          },
          "schema": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Schema"
          },
          "strict": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Strict"
          },
          "type": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Type"
          }
        },
        "title": "ResponsesTextFormatRequest",
        "type": "object"
      },
      "ResponsesReasoningRequest": {
        "additionalProperties": true,
        "description": "Opt-in reasoning controls in OpenAI Responses format.",
        "properties": {
          "effort": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "Optional reasoning effort hint, such as 'low', 'medium', or 'high'.",
            "title": "Effort"
          },
          "enabled": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "description": "Switch for enabling reasoning on capable models.",
            "title": "Enabled"
          },
          "exclude": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "description": "When supported by the upstream provider, exclude reasoning text from the response while still allowing the model to use reasoning.",
            "title": "Exclude"
          },
          "summary": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "Optional Responses-style reasoning summary mode.",
            "title": "Summary"
          }
        },
        "title": "ResponsesReasoningRequest",
        "type": "object"
      },
      "RoutingEffort": {
        "description": "Per-request routing-effort tier, ascending in cost and quality.\n\nSent by the caller as the ``effort`` param or as a ``model`` suffix. The\nper-router policy each tier used to map to is gone with the routers; the\ntier itself remains a request-level knob.",
        "enum": [
          "low",
          "medium",
          "high",
          "xhigh",
          "max"
        ],
        "title": "RoutingEffort",
        "type": "string"
      },
      "AnthropicError": {
        "description": "Anthropic error envelope returned when the request includes `anthropic-version`. Distinct from the OpenAI `{error: {message, type, param, code}}` body.",
        "properties": {
          "error": {
            "properties": {
              "message": {
                "title": "Message",
                "type": "string"
              },
              "type": {
                "title": "Type",
                "type": "string"
              }
            },
            "required": [
              "type",
              "message"
            ],
            "title": "Error",
            "type": "object"
          },
          "type": {
            "enum": [
              "error"
            ],
            "title": "Type",
            "type": "string"
          }
        },
        "required": [
          "type",
          "error"
        ],
        "title": "AnthropicError",
        "type": "object"
      },
      "AnthropicMessagesResponse": {
        "description": "Anthropic Messages API response format.\n\n``pioneer_inference_id`` is a Fastino-only extension: the\n``inferences.id`` of the persisted row backing this completion. It mirrors\nthe ``x_pioneer.inference_id`` field on the OpenAI-compatible chat\ncompletion response so frontend playground clients can use the same\npoll-``GET /inferences/{id}``-for-judge-results round-trip on either\nsurface. ``None`` when persistence didn't run (e.g. ``store=false``).\n\n``pioneer_routed_model`` is the backend catalog model selected when the\nrequest used a router alias such as ``pioneer/auto``. ``None`` when no\nrouting occurred or the routed model matches the requested id.\n\n``pioneer_savings`` carries the per-1M-token savings rate diff of the routed\nmodel vs a fixed frontier reference (``baseline_model`` plus\n``rate_diff_per_mtok`` with ``input``/``output``/``cache_read``/\n``cache_write`` keys). The Claude Code cost hook multiplies it by per-turn\ntoken usage to show money saved. ``None`` when not routed to a cheaper model.",
        "properties": {
          "content": {
            "items": {
              "additionalProperties": true,
              "type": "object"
            },
            "title": "Content",
            "type": "array"
          },
          "id": {
            "title": "Id",
            "type": "string"
          },
          "model": {
            "title": "Model",
            "type": "string"
          },
          "pioneer_inference_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Pioneer Inference Id"
          },
          "pioneer_routed_model": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Pioneer Routed Model"
          },
          "pioneer_savings": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Pioneer Savings"
          },
          "role": {
            "default": "assistant",
            "title": "Role",
            "type": "string"
          },
          "stop_reason": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "default": "end_turn",
            "title": "Stop Reason"
          },
          "stop_sequence": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Stop Sequence"
          },
          "type": {
            "default": "message",
            "title": "Type",
            "type": "string"
          },
          "usage": {
            "$ref": "#/components/schemas/AnthropicUsage"
          }
        },
        "required": [
          "id",
          "content",
          "model",
          "usage"
        ],
        "title": "AnthropicMessagesResponse",
        "type": "object"
      },
      "AnthropicUsage": {
        "description": "Usage statistics in Anthropic format.\n\n``input_tokens`` is Anthropic's non-cached input contract \u2014 cached\nreads / writes live in the separate ``cache_read_input_tokens`` /\n``cache_creation_input_tokens`` fields. Fastino mirrors the same\nshape on the ``/v1/messages`` wire so SDK consumers reading the\nfields directly stay correct.",
        "properties": {
          "cache_creation_input_tokens": {
            "default": 0,
            "title": "Cache Creation Input Tokens",
            "type": "integer"
          },
          "cache_read_input_tokens": {
            "default": 0,
            "title": "Cache Read Input Tokens",
            "type": "integer"
          },
          "input_tokens": {
            "default": 0,
            "title": "Input Tokens",
            "type": "integer"
          },
          "output_tokens": {
            "default": 0,
            "title": "Output Tokens",
            "type": "integer"
          },
          "server_tool_use": {
            "anyOf": [
              {
                "additionalProperties": {
                  "type": "integer"
                },
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Server Tool Use"
          },
          "service_tier": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Service Tier"
          },
          "speed": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Speed"
          },
          "thinking_tokens": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
[...]
